{% extends "base.html" %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}

{% block covercontent %}
<br><br><br><br><br>
<h1 align="center">Add Review for {{ hotel.name }}</h1>
<br><br><br>
<div class="col-xs-10" align="center">
<form role="form" class="form-horizontal" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        
        	{% bootstrap_form form layout="horizontal" size='md' %}
        	<div class="col-md-6 text-center">
        	{% bootstrap_button "Ok" button_type="submit" name="Ok" button_class="btn-primary" icon="ok" %}
        	</div>
</form>
<a href="{% url 'hotels:hotel_detail' hotel.pk%}">{% bootstrap_button "Cancel" button_type="link" name="Cancel" button_class="btn-default" icon="remove" %}</a>
</div>
<br>

{% endblock %}
{% block footer %}
{% endblock %}
