{% extends "base.html" %}
{% load bootstrap3 %}

{% block covercontent %}
	<br><br><br><br><br><br><br><br><br><br><div style="background: rgba(255,255,255, 0.9); width: 50%; height: 500px; margin:0 auto; -moz-border-radius: 6px; border-radius: 6px;" align="center">
	<div align="justify">
<p>
Hotel: <a href="{% url 'hotels:hotel_detail' hotel.id %}">{{ hotel.name }}</a><br>
Average Rate: {{ average }}<br>
<div class="pre-scrollable" style="height:700px;">
<ul>
{% for review in review_list %}
    <li>{{ review.user.username }} - {{ review.created|date }} <br>
    	{% ifequal review.rate 1 %}
    	<span class="glyphicon glyphicon-star"></span>
    	{% endifequal %}
    	{% ifequal review.rate 2 %}
    	<span class="glyphicon glyphicon-star"></span>
    	<span class="glyphicon glyphicon-star"></span>
    	{% endifequal %}
    	{% ifequal review.rate 3 %}
    	<span class="glyphicon glyphicon-star"></span>
    	<span class="glyphicon glyphicon-star"></span>
    	<span class="glyphicon glyphicon-star"></span>
    	{% endifequal %}
    	{% ifequal review.rate 4 %}
    	<span class="glyphicon glyphicon-star"></span>
    	<span class="glyphicon glyphicon-star"></span>
    	<span class="glyphicon glyphicon-star"></span>
    	<span class="glyphicon glyphicon-star"></span>
    	{% endifequal %}
    	{% ifequal review.rate 5 %}
    	<span class="glyphicon glyphicon-star"></span>
    	<span class="glyphicon glyphicon-star"></span>
    	<span class="glyphicon glyphicon-star"></span>
    	<span class="glyphicon glyphicon-star"></span>
    	<span class="glyphicon glyphicon-star"></span>
    	{% endifequal %}
    	<br>
    	<span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{ review.comment }}<br>
    </li>
{% empty %}
    <li>No reviews yet.</li>
{% endfor %}
</ul>
</div>
</p>
</div>
	<a href="{% url 'hotels:hotel_detail' hotel.pk%}">{% bootstrap_button "Back" button_type="link" name="Cancel" button_class="btn-default" icon="menu-left" %}</a>
	</div>
{% endblock %}

{% block body %}
{% endblock %}
{% block footer %}
{% endblock %}
