{% extends "base.html" %}
{% load bootstrap3 %}

{% block covercontent %}
	<br><br><br><br><br><br><br><br><br><br><div style="background: white; width: 50%; height: 500px; margin:0 auto; -moz-border-radius: 6px; border-radius: 6px;" align="center">
	<div align="justify">
<p>
Hotel: <a href="{% url 'hotels:hotel_detail' hotel.id %}">{{ hotel.name }}</a><br>
Average Rate: {{ average }}<br>
<div class="pre-scrollable" style="height:700px;">
<ul>
{% for review in review_list %}
    <li>{{ review.user.username }} - {{ review.created|date }}<br>
    	{{ review.rate }}<br>
    	{{ review.comment }}<br>
    </li>
{% empty %}
    <li>No reviews yet.</li>
{% endfor %}
</ul>
</div>
</p>
</div>
	</div>
{% endblock %}

{% block body %}
{% endblock %}
{% block footer %}
{% endblock %}
