{% load bootstrap3 %}

{% block content %}

<head>
<link rel="stylesheet"
              href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css">
        <link rel="stylesheet"
              href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js">
        </script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.js">
        </script>
        {{ form.media }}
</head>

<h1 align="center">Editing Reservation for Room n.{{ room.number }} | Hotel {{ hotel.name }}</h1>
<br><br><br><br>
<div class="col-xs-10" align="center">
<form role="form" class="form-horizontal" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        
        	{% bootstrap_form form layout="horizontal" size='md' %}
        	<div class="col-md-6 text-center">
        	{% bootstrap_button "Ok" button_type="submit" name="Ok" button_class="btn-primary" icon="ok" %}
        	</div>
</form>
<a href="{% url 'reservation:reservation_detail' reservation.id%}">{% bootstrap_button "Cancel" button_type="link" name="Cancel" button_class="btn-default" icon="remove" %}</a>
</div>
<br>

{% endblock %}
