{% extends "base.html" %}
{% load bootstrap3 %}

{% block covercontent %}

<br><br><br><br><br><br><br>
  	<div style="background: white; width: 80%; height: 500px; margin:0 auto; -moz-border-radius: 6px; border-radius: 6px;" align="center">

<header>
<h1>Reservation for 
<a href="{% url 'hotels:room_detail' reservation.room.hotel.id reservation.room.id %}">Room {{ reservation.room.number }}</a>
 Hotel <a href="{% url 'hotels:hotel_detail' reservation.room.hotel.id %}">{{ reservation.room.hotel.name }}</a></h1>
</header>

{% if error_message %}
	<p><strong>{{ error_message }}</strong></p>
{% endif %}

<br>
<p align="center">
First Name: {{ reservation.firstname }}<br>
Last Name: {{ reservation.lastname }}<br>
City: {{ reservation.city }}<br>
Address: {{ reservation.address }}<br>
Email: {{ reservation.email }}<br>
Tel: {{ reservation.tel }}<br>
IDate: {{ reservation.idate }}<br>
FDate: {{ reservation.fdate }}<br>
Created On: {{ reservation.created }}<br>
Last Update: {{ reservation.updated }}<br>
In Queue: {% if reservation.is_active %} No {% else %} Yes {% endif %}
<br>
<a href="{% url 'reservation:edit_reservation' reservation.pk %}"><button type="button" class="btn btn-success">Edit</button></a>
<a href="{% url 'reservation:delete_reservation' reservation.pk %}"><button type="button" class="btn btn-danger">Delete</button></a>
</p>
</div>
{% endblock %}
{% block body %}
{% endblock %}
