{% extends "portal/portal.html" %}
{% load bootstrap3 %}

{% block body %}
<h1 align="center">Personal Page of {{ request.user }}</h1>
<br>
<div align="center">
{% if owner %}
<h2>Hotels:</h2>
<ul>
{% for h in hotel_list %}
	<li><a href="{% url 'hotels:hotel_detail' h.pk %}">{{ h.name }}</a>
{% empty %}
	<li>No Hotels yet.</li>
{% endfor %}
</ul>
{% endif %}
{% if customer %}
<h2>Reservations:</h2>
<ul>
{% for r in reservation_list %}
	<li><a href="{% url 'reservation:reservation_detail' r.pk %}">Reservation</a> First Name: {{ r.firstname }}  Last Name: {{ r.lastname }} -
		Room {{ r.room.number }} Hotel {{ r.room.hotel }}: {{ r.idate|date }} to {{ r.fdate|date }} Last Update: {{ r.updated }}
		{% if not r.is_active %}
		-- in queue --
		{% endif %}</li>
{% empty %}
	<li>No reservation yet.</li>
{% endfor %}
</ul>
{% endif %}
<br><br>
{% if owner %}
<a href="{% url 'hotels:create_hotel' %}">{% bootstrap_button "Add Hotel" button_type="link" name="AddHotel" button_class="btn-success" %}</a>
<a href="{% url 'portal:update_data' %}">{% bootstrap_button "Edit Personal Data" button_type="link" name="EditUser" button_class="btn-success" %}</a>
{% endif %}
{% if customer %}
AGGIUNGERE ROBA QUI
{% endif %}
<a href="{% url 'portal:logout_view' %}">{% bootstrap_button "Logout" button_type="link" name="Logout" button_class="btn-danger" %}</a>
</div>
{% endblock %}
