{% extends "base.html" %}
{% comment %}
This is the main template for all portal pages.
{% endcomment %}

{% block head %}
	<title>VMhotels | {% block title %}{% endblock %}</title>
{% endblock %}

{% block body %}
    <header>
	<h1>VMhotels | Web Portal</h1>
    </header>
    {% block content %}{% endblock %}	
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <br>
            <br>
            <br>
            <img src="{% static 'images/info.png' %}" class="center-block img-responsive" width="400">
            <p></p>
            <p></p>
          </div>
          <br><br><br><br><br><br>
          <div class="col-md-6 text-center">
            <ul>
			<li><a href="/">Main Page</a></li>
			<li><a href="{% url 'portal:logout_view' %}">Logout</a></li>
			<li><a href="{% url 'portal:update_data' %}">Modifica dati utente</a></li>
	   </ul>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
