{% extends "base.html" %}
{% comment %}   Main page to authenticate users. {% endcomment %}
{% block head %}
  <title>VMHotels | Login</title>
{% endblock %}
{% block bar %}
{% endblock %}

{% block covercontent %}
<br><br><br><br><br><br><br><br>
	<div style="background: rgba(255,255,255, 0.8); width: 40%; height: 500px; margin:0 auto; -moz-border-radius: 6px; border-radius: 6px;" align="center">
	 <table align="center">
 	 <tr>
    		<th>	<br><br><br>
    			<h1 align="center">VMhotels</h1>
    			<h2 align="center">Login Page</h2>
		</th>
 	 </tr>
 	 <br>
 	 <br>
 	 <tr>
 	 	<th> <div align="center"><br><br><br>
 	 		{% if form.errors %}
      				<p>Your username and password didn't match, please try again.</p>
    			{% endif %}
	
  			<form method="post">
      				{% csrf_token %}
      				<p>
        				{{ form.username.label_tag }}
        				{{ form.username }} 
      				</p>  
      				<p>
        				{{ form.password.label_tag }}
        				{{ form.password }}
      				</p>
      				{% if next %}
        				<input type="hidden" name="next" value="{{ next }}" />
      				{% else %}
        				<input type="hidden" name="next" value="{% url 'portal:personal' %}" />
      				{% endif %}
      					<input type="submit" value="login" align="center"/>
    			</form>
    		      </div>
 	 	</th>
 	 </tr>

    </table>
    </div>	
{% endblock %}
{% block footer %}
{% endblock %}

