<!DOCTYPE html>
{% load bootstrap3 %}

{% bootstrap_css %}

{% bootstrap_javascript %}

{% load humanize %} 

{% load staticfiles %}

{% block bar %}
<html>

 <head> 
 
 <script type="text/javascript" src="{% static 'js/contatore_view.js' %}"></script>
  
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand"><img src="{% static 'images/vm.png' %}" class="center-block img-circle" height="33" alt="VMhotels"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><br><div id="txt"></div><li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/"> <span class="glyphicon glyphicon-home"> Mainpage</span></a>
            </li>
              {% if user.is_authenticated %}
              	<li> <a href="{% url 'portal:personal' %}"><span class="glyphicon glyphicon-user"> {{ user.username }}</span></a></li>
              	<li><a href="{% url 'portal:update_data' %}"><span class="glyphicon glyphicon-pencil"> Modifica utente</span></a></li> 
              	<li> <a href="{% url 'portal:logout_view' %}"> Logout </a></li>
              {% else %}
              	<li> <a href="{% url 'portal:django.contrib.auth.views.login' %}"> Login </a></li>
	      {% endif %}            	
          </ul>
        </div>
      </div>
    </div>
    
  {% endblock %}
  
  
  
  {% block cover %}
  
  <div class="cover" style="background-image: url({% static 'images/trav.jpg' %});  width: 100%; height:800px; background-repeat: no-repeat; margin: 0; padding: 0; background-size: 100% 100%;">
  
  {% block covercontent %}
  
  {% endblock %}
  </div>
  {% endblock %}
  
    
 </head>
 
 <body onload="startTime()">
  {% block body %}
  {% endblock %}
  {% block form %}
  {% endblock %}
  {% block footer %}
 
  {% endblock %}
  <script type="text/javascript" src="{% static 'js/orologio.js' %}"></script>
 
</body>
</html>
