<!DOCTYPE html>
{% load bootstrap3 %}

{% bootstrap_css %}

{% bootstrap_javascript %}

{% bootstrap_messages %}

{% block bar %}
<html>

 <head>   
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand"><img src="/media/vm.png" class="center-block img-circle" height="33" alt="VMhotels"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/">Main page</a>
            </li>
            <li>
              <a href="{% url 'portal:update_data' %}">Modifica dati utente</a>
            </li>
            
            <li>
              <a href="mailto:vmhotels@gmail.com">Contattaci</a>
            </li>
            <li>
              {% if user.is_authenticated %} 
              	<li> <a href="{% url 'portal:logout_view' %}"> Logout </a></li>
              {% else %}
              	<li> <a href="{% url 'portal:django.contrib.auth.views.login' %}"> Login </a></li>
	      {% endif %}              	
            </li>
          </ul>
        </div>
      </div>
    </div>
    
  {% endblock %}
  
  
  
  {% block cover %}
  <div class="cover" style="background-image: url(/media/trav.jpg);  width: 100%; height:800px; background-repeat: no-repeat; margin: 0; padding: 0; background-size: 100% 100%;">
  {% block covercontent %}
  {% endblock %}
  </div>
  {% endblock %}
  
    
 </head>
 <body onload="javascript:scrollTo(0,300)">
  {% block body %}
  {% endblock %}
  {% block form %}
  {% endblock %}
  {% block footer %}
  <div class="container well">
	<h2><center>Le vostre vacanze a portata di click</center></h2>
  </div>
	<div id="footer" style="background-image: url(/media/foot.jpeg);  height: 280px;">
    	<div class="container">
       	 <div class="row">
            	<h3 class="footertext">About Us:</h3>
            	<br>
             	 <div class="col-md-4">
               	 	<center>
                  	<img src="http://oi60.tinypic.com/w8lycl.jpg" class="img-circle" alt="the-brains">
                  	<br>
                  	<h4 class="footertext">Programmer</h4>
                  	<p class="footertext">You can thank all the crazy programming here to this guy.<br>
               		 </center>
              	</div>
                <div class="col-md-4">
                	<center>
                  	<img src="http://oi60.tinypic.com/2z7enpc.jpg" class="img-circle" alt="...">
                  	<br>
                  	<h4 class="footertext">Artist</h4>
                  	<p class="footertext">All the images here are hand drawn by this man.<br>
                	</center>
                </div>
              	<div class="col-md-4">
                	<center>
                  	<img src="http://oi61.tinypic.com/307n6ux.jpg" class="img-circle" alt="...">
                  	<br>
                  	<h4 class="footertext">Designer</h4>
                  	<p class="footertext">This pretty site and the copy it holds are all thanks to this guy.<br>
                	</center>
              	</div>
            	</div>
            	<div class="row">
            		<p><center><a href="#">Contact Stuff Here</a> <p class="footertext">Copyright 2016</p></center></p>
        	</div>
    	</div>
  </div>
  {% endblock %}
  
 </body>
</html>
