<!DOCTYPE html>
{% load bootstrap3 %}

{% bootstrap_css %}

{% bootstrap_javascript %}

{% bootstrap_messages %}

{% block bar %}
<html>

 <head>  
 <STYLE TYPE="text/css">

	BODY{
	overflow-x:hidden;
	}

	.s1
	{
  	position  : absolute;
  	font-size : 10pt;
  	color     : blue;
  	visibility: hidden;
	}

	.s2
	{
  	position  : absolute;
  	font-size : 18pt;
  	color     : red;
	visibility : hidden;
	}

	.s3
	{
  	position  : absolute;
  	font-size : 14pt;
  	color     : gold;
	visibility : hidden;
	}

	.s4
	{
 	 position  : absolute;
  	font-size : 12pt;
  	color     : lime;
	visibility : hidden;
	}

 </STYLE>
 
 <SCRIPT LANGUAGE="JavaScript">

	function GetCookie (name) {
		var arg = name + "=";
		var alen = arg.length;
		var clen = document.cookie.length;
		var i = 0;
		while (i < clen) {
			var j = i + alen;
			if (document.cookie.substring(i, j) == arg)
				return getCookieVal (j);
			i = document.cookie.indexOf(" ", i) + 1;
			if (i == 0) break;
		}
	return null;
	}
	
	function SetCookie (name, value) {
		var argv = SetCookie.arguments;
		var argc = SetCookie.arguments.length;
		var expires = (argc > 2) ? argv[2] : null;
		var path = (argc > 3) ? argv[3] : null;
		var domain = (argc > 4) ? argv[4] : null;
		var secure = (argc > 5) ? argv[5] : false;
		document.cookie = name + "=" + escape (value) + ((expires == null) ? "" : ("; expires=" + expires.toGMTString())) +
		 ((path == null) ? "" : ("; path=" + path)) +
		 ((domain == null) ? "" : ("; domain=" + domain)) +
		 ((secure == true) ? "; secure" : "");
	}	
	
	function DeleteCookie (name) {
		var exp = new Date();
		exp.setTime (exp.getTime() - 1);
		var cval = GetCookie (name);
		document.cookie = name + "=" + cval + "; expires=" + exp.toGMTString();
	}
	
	var expDays = 30;
	var exp = new Date();
	exp.setTime(exp.getTime() + (expDays*24*60*60*1000));
	
	function amt(){
		var count = GetCookie('count')
		if(count == null) {
			SetCookie('count','1')
		return 1
		}
		else {
			var newcount = parseInt(count) + 1;
			DeleteCookie('count')
			SetCookie('count',newcount,exp)
			return count
   		}
	}
	
	function getCookieVal(offset) {
		var endstr = document.cookie.indexOf (";", offset);
		if (endstr == -1)
			endstr = document.cookie.length;
	return unescape(document.cookie.substring(offset, endstr));
	}
</SCRIPT> 

  {% load staticfiles %}
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand"><img src="{% static 'images/vm.png' %}" class="center-block img-circle" height="33" alt="VMhotels"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><br><div id="txt"></div><li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/"> <span class="glyphicon glyphicon-home"> Mainpage</span></a>
            </li>
              {% if user.is_authenticated %}
              	<li> <a href="{% url 'portal:personal' %}"><span class="glyphicon glyphicon-user"> {{ user.username }}</span></a></li>
              	<li><a href="{% url 'portal:update_data' %}"><span class="glyphicon glyphicon-pencil"> Modifica utente</span></a></li> 
              	<li> <a href="{% url 'portal:logout_view' %}"> Logout </a></li>
              {% else %}
              	<li> <a href="{% url 'portal:django.contrib.auth.views.login' %}"> Login </a></li>
	      {% endif %}            	
          </ul>
        </div>
      </div>
    </div>
    
  {% endblock %}
  
  
  
  {% block cover %}
  
  <div class="cover" style="background-image: url({% static 'images/trav.jpg' %});  width: 100%; height:800px; background-repeat: no-repeat; margin: 0; padding: 0; background-size: 100% 100%;">
  
  {% block covercontent %}
  
  {% endblock %}
  </div>
  {% endblock %}
  
    
 </head>
 
 <body onload="startTime()">
 <DIV ID="div1" CLASS="s1">*</DIV>
 <DIV ID="div2" CLASS="s2">*</DIV>
 <DIV ID="div3" CLASS="s3">*</DIV>
 <DIV ID="div4" CLASS="s4">*</DIV>

 <SCRIPT LANGUAGE="javascript" TYPE="text/javascript">

 var standardbody=(document.compatMode=="CSS1Compat")? document.documentElement : document.body //create reference to common "body" across doctypes

 var nav = (!document.all || window.opera);
 var tmr = null;
 var spd = 50;
 var x = 0;
 var x_offset = 5;
 var y = 0;
 var y_offset = 15;

 document.onmousemove = get_mouse; 

 function get_mouse(e)
 {    
   x = (nav) ? e.pageX : event.clientX+standardbody.scrollLeft;
   y = (nav) ? e.pageY : event.clientY+standardbody.scrollTop;
   x += x_offset;
   y += y_offset;
   beam(1);     
 }

 function beam(n)
 {
   if(n<5)
   {
				document.getElementById('div'+n).style.top=y+'px'
				document.getElementById('div'+n).style.left=x+'px'
				document.getElementById('div'+n).style.visibility='visible'
    n++;
    tmr=setTimeout("beam("+n+")",spd);
  }
  else
  {
     clearTimeout(tmr);
     fade(4);
  }   
 } 

 function fade(n)
 {
   if(n>0) 
   {
    document.getElementById('div'+n).style.visibility='hidden'
    n--;
    tmr=setTimeout("fade("+n+")",spd);
   }
  else clearTimeout(tmr);
 } 

 </SCRIPT>
  {% block body %}
  {% endblock %}
  {% block form %}
  {% endblock %}
  {% block footer %}
 
  {% endblock %}
  <script>
	function startTime() {
	var today=new Date();
	var h=today.getHours();
	var m=today.getMinutes();
	var s=today.getSeconds();
	m = checkTime(m);
	s = checkTime(s);
	document.getElementById('txt').innerHTML = h+":"+m+":"+s;
	var t = 
	setTimeout(function(){startTime()},500); 
	}
	
	function checkTime(i)
 	{
	if (i<10) {i = "0" + i};  
	// add a zero in front of numbers < 10
	return i;
	}
</script>
  	
</script>
</body>
</html>
