{% extends "base.html" %}
{% comment %} Main page of VMhotels. {% endcomment %}
{% block head %}
	<title>VMhotels</title>
{% endblock %}
{% block body %}    
	<section>
		<p align="center">Welcome to VMhotels.<br>
		Click <a href="{% url 'portal:django.contrib.auth.views.login' %}">here</a> to login.<br>
		Click <a href="{% url 'portal:registration_register_customer' %}">here</a> to register as a costumer.<br>
		Click <a href="{% url 'portal:registration_register_owner' %}">here</a> to register as an owner.<br>
	</section>
	<div class="container">
    	<div class="row" align="center">
			<form action="{% url 'search_results' %}" method="post">
				{% csrf_token %}
				<input type="text" id="searchBox" class="input-medium search-query" name="q" placeholder="Search hotels by city">
				<input type="submit" class="btn-primary" value="Search" name="search">
				
			</form>
		</div>
	</div>
	
{% endblock %}
