<h2>Hotels Found:</h2>
    {% for h in found_entries %}
        <img src="{{ h.image.url }}" alt="Hotel View" style="width:100px;height:100px;">
        Hotel: <a href="{% url 'hotels:hotel_detail' h.pk %}">{{ h.name }}</a>
        {% if 'rate' in request.POST %}
        	Average Vote: {{ h.average }}<br>
        {% else %}
        	{% widthratio h.room.cost 1 days as total_cost %}
        	Average Cost: {{ total_cost }}<br>
        {% endif %}
        {% for r in rl %}
        	{% if r.hotel = h %}
        		Camera: {{ r.number }}, Cost: {{ r.cost }}<br>
        	{% endif %}
        {% endfor %}
    {% empty %}
    	No Results Found.
    {% endfor %}
<p><a href="{% url 'main_page' %}">Back</a></p>
