<h2>Rooms Found:</h2>
    {% for r in found_entries %}
        <img src="{{ r.image.url }}" alt="Room View" style="width:100px;height:100px;">
        <a href="{% url 'hotels:room_detail' r.hotel.pk r.pk %}">{{ r }}</a>
        Hotel: <a href="{% url 'hotels:hotel_detail' r.hotel.pk %}">{{ r.hotel.name }}</a>
        {% widthratio r.cost 1 days as total_cost %}
        Cost: {{ total_cost }}<br>
    {% empty %}
    	No Results Found.
    {% endfor %}
<p><a href="{% url 'main_page' %}">Back</a></p>
