{% load bootstrap3 %}

{% load staticfiles %}

{% block content %}

<head>
<script type="text/javascript" src="{% static 'js/window_confirm.js' %}"></script>
</head>

<h1 align="center">Delete Hotel {{ hotel.name }} ?</h1>
<h2 align="center" color="red">Are you sure?</h2>
<br><br><br><br>
<div class="col-xs-10" align="center">
<form role="form" class="form-horizontal" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        
        	<div class="col-md-6 text-center">
        	<button type="submit" class="btn btn-primary" value="Yes" name="Ok" onclick="clicked_check('The room is removed properly.');"> Yes
   			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		</button>
        	</div>
</form>
<a href="{% url 'hotels:hotel_detail' hotel.id%}">{% bootstrap_button "No" button_type="link" name="Cancel" button_class="btn-default" icon="remove" %}</a>
</div>
<br>

{% endblock %}
