{% extends "base.html" %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% load staticfiles %}

{% bootstrap_messages %}
{% block cover %}
<div class="cover" style="background-image: url({% static 'images/edith.jpg' %});  width: 100%; height:800px; background-repeat: no-repeat; margin: 0; padding: 0; background-size: 100% 100%;">
{% block covercontent %}
<br><br><br>
<div style="background: rgba(255,255,255, 0.8); width: 80%; height: 700px; margin:0 auto; -moz-border-radius: 6px; border-radius: 6px;" align="center">
<h1 align="center">Editing Hotel {{ hotel.name }}</h1>
<div class="col-xs-10" align="center">
<form role="form" class="form-horizontal" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        
        	{%  bootstrap_field form.name layout="horizontal" size='sm' %}
        	{%  bootstrap_field form.city layout="horizontal" size='sm' %}
        	{%  bootstrap_field form.address layout="horizontal" size='sm' %}
        	{%  bootstrap_field form.description layout="horizontal" size='sm' %}
        	{%  bootstrap_field form.email layout="horizontal" size='sm' %}
        	{%  bootstrap_field form.tel layout="horizontal" size='sm' %}
        	{%  bootstrap_field form.image layout="horizontal" size='sm' %}
        	<p align="justify" style="margin-left:12em;"><font size="2"> <b>Services</b></font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        	{% regroup form.services by attrs.cat_name as list %}
        	{% for el in list %}
        	
        		{% for e in el.list %}        		
                			{{e}}
                	{% endfor %}
        	{% endfor %}
		
        	<div class="col-md-6 text-center">
        	{% bootstrap_button "Ok" button_type="submit" name="Ok" button_class="btn-primary" icon="ok" %}
        	</div>
</form>
<a href="{% url 'hotels:hotel_detail' hotel.pk%}">{% bootstrap_button "Cancel" button_type="link" name="Cancel" button_class="btn-default" icon="remove" %}</a>
</div>
</div>

{% endblock %}
{% endblock %}
{% block footer %}
{% endblock %}
