{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}


{% block cover %}
{% if hotel.image %}
  <div class="cover" style="background-image: url({{ hotel.image.url }});  width: 100%; height:800px; background-repeat: no-repeat; margin: 0; padding: 0; background-size: 100% 100%;">
{% endif %}
  {% block covercontent %}
  	<br><br><br><br><br><br><br>
  	<div style="background: rgba(255,255,255, 0.8); width: 80%; height: 500px; margin:0 auto; -moz-border-radius: 6px; border-radius: 6px;" align="center">

<header>
<h1>{{ hotel.name }}</h1>
</header>

{% if error_message %}
	<p><strong>{{ error_message }}</strong></p>
{% endif %}

<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <br>
            <br>
            {% if hotel.image %}
            	<img src="{{ hotel.image.url }}" alt="Hotel View" style="width:100%;" class="img-responsive">
            {% else %}
            	<img src="{% static 'hotels/image_not_found.jpeg' %}" alt="Hotel View" style="width:100%;" class="img-responsive">
            {% endif %}
          </div>
          <div class="col-md-8 text-center">
            <p> <br><br><br>
        	<span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Name: {{ hotel.name }}<br>
		<span class="glyphicon glyphicon-home" aria-hidden="true"></span> City: {{ hotel.city }}<br>
		<span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> Address: {{ hotel.address }}<br>
		<span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span> Description: {{ hotel.description }}<br>
		<span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"></span> Email: {{ hotel.email }}<br>
		<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Tel: {{ hotel.tel }}<br>
		<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Services: {% for s in hotel.services.all %} {{ s.name }} {% endfor %}<br>
		<br>
		Camere:<br>
		<div class="pre-scrollable" style="height:70px;">
		<ul>		
		{% for room in hotel.room_set.all %}
			<li><a href="{% url 'hotels:room_detail' hotel.id room.id %}">
			Room {{ room.number }}</a> Beds: {{ room.beds }} Cost: {{ room.cost }}
		{% endfor %}
		</ul>
		</div>		
	   </p>
          </div>
        </div>
      </div>
    </div>


<br>

<p align="center"><br>

<a href="{% url 'review:list_review' hotel.id %}">
<button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-search"></span> All Reviews
</button>
</a>
<a href="{% url 'review:add_review' hotel.id %}">
<button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-thumbs-up"></span> Add Review
</button>
</a>
{% if request.user == hotel.user %}
<a href="{% url 'hotels:create_room' hotel.id %}">
<button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-plus"></span> Add Room
</button>
</a>

<a href="{% url 'hotels:edit_hotel' hotel.id %}">
<button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-pencil"></span> Edit Hotel
</button>
</a>

<a href="{% url 'hotels:delete_hotel' hotel.id %}">
<button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-remove"></span> Delete Hotel
</button>
</a>
{% endif %}
</p>

 </div>
  {% endblock %}
</div>
{% endblock %}
  

{% block body %}
{% endblock %}
{% block footer %}
{% endblock %}
