<header>
<h1>{{ hotel.name }}</h1>
</header>

{% if error_message %}
	<p><strong>{{ error_message }}</strong></p>
{% endif %}

<img src="{{ hotel.image.url }}" alt="Hotel View" style="width:300px;height:230px;">
<br>
Name: {{ hotel.name }}<br>
City: {{ hotel.city }}<br>
Address: {{ hotel.address }}<br>
Description: {{ hotel.description }}<br>
Email: {{ hotel.email }}<br>
Tel: {{ hotel.tel }}<br>

Camere:<br>
<ul>
{% for room in hotel.room_set.all %}
	<li><a href="{% url 'hotels:room_detail' hotel.id room.id %}">
		Camera {{ room.number }}</a>
{% endfor %}
</ul><br>
Are you the owner of this hotel? Click <a href="{% url 'hotels:create_room' hotel.id %}">here</a> to add a Room. <br>
Are you the owner of this hotel? Click <a href="{% url 'hotels:edit_hotel' hotel.id %}">here</a> to change Hotel data.
