<header>
<h1>Camera {{ room.number }}</h1>
</header>

{% if error_message %}
	<p><strong>{{ error_message }}</strong></p>
{% endif %}

<img src="{{ room.image.url }}" alt="Hotel View" style="width:300px;height:230px;">
<br>

Hotel: <a href="{% url 'hotels:hotel_detail' hotel.id %}">{{ room.hotel }}</a><br>
Number: {{ room.number }}<br>
Beds: {{ room.beds }}<br>
Description: {{ room.description }}<br>
Cost per night: {{ room.cost }} EUR<br>

Available Services:<br>

Are you the owner of this room? Click <a href="{% url 'hotels:edit_room' hotel.id room.id %}">here</a> to change Room data.

