{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block cover %}
{% endblock %}
{% block body %}
<br><br><br><br>
<header>
<h1>Camera {{ room.number }}</h1>
</header>

{% if error_message %}
	<p><strong>{{ error_message }}</strong></p>
{% endif %}

<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <br>
            <br>
            {% if room.image %}
            	<img src="{{ room.image.url }}" alt="Room View" style="width:300px;height:230px;">
            {% else %}
            	<img src="{% static 'hotels/image_not_found.jpeg' %}" alt="Room View" style="width:300px;height:230px;">
            {% endif %}
          </div>
          <div class="col-md-8 text-center">
            <p> <br><br><br><br>
            Hotel: <a href="{% url 'hotels:hotel_detail' hotel.id %}">{{ room.hotel }}</a><br>
	    Number: {{ room.number }}<br>
	    Beds: {{ room.beds }}<br>
	    Description: {{ room.description }}<br>
	    Cost per night: {{ room.cost }} EUR<br>
        Available Services: 
        <ul>
        {% for service in services %}
        	<li>{{ service.name }}</li>
        {% endfor %}
        </ul>
	   </p>
          </div>
        </div>
      </div>
    </div>


<br>


<p align="center">
	Add a <b>Reservation</b> for this Room <a href="{% url 'reservation:add_reservation' hotel.id room.id %}">here</a><br>
	{% if request.user == hotel.user %}
	Are you the owner of this room? Click <a href="{% url 'hotels:edit_room' hotel.id room.id %}">here</a> to change Room data.
	{% endif %}
</p>
{% endblock %}
