{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block cover %}
{% if room.image %}
  <div class="cover" style="background-image: url({{ room.image.url }});  width: 100%; height:800px; background-repeat: no-repeat; margin: 0; padding: 0; background-size: 100% 100%;">
{% endif %}
{% block covercontent %}
<br><br><br><br><br><br><br>
  	<div style="background: white; width: 80%; height: 500px; margin:0 auto; -moz-border-radius: 6px; border-radius: 6px;" align="center">
<header>
<h1>Camera {{ room.number }}</h1>
</header>

{% if error_message %}
	<p><strong>{{ error_message }}</strong></p>
{% endif %}

<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <br>
            <br>
            {% if room.image %}
            	<img src="{{ room.image.url }}" alt="Room View" style="width:300px;height:230px;">
            {% else %}
            	<img src="{% static 'hotels/image_not_found.jpeg' %}" alt="Room View" style="width:300px;height:230px;">
            {% endif %}
          </div>
          <div class="col-md-8 text-center">
            <p> <br><br><br><br>
            Hotel: <a href="{% url 'hotels:hotel_detail' hotel.id %}">{{ room.hotel }}</a><br>
	    Number: {{ room.number }}<br>
	    Beds: {{ room.beds }}<br>
	    Description: {{ room.description }}<br>
	    Cost per night: {{ room.cost }} EUR<br>
        Available Services: 
        <ul>
        {% for service in services %}
        	<li>{{ service.name }}</li>
        {% endfor %}
        </ul>
	   </p>
          </div>
        </div>
      </div>
    </div>


<br>


<p align="center">
	
	<a href="{% url 'reservation:add_reservation' hotel.id room.id %}">
		<button type="button" class="btn btn-default">
    		<span class="glyphicon glyphicon-plus"></span> Add Reservation
		</button>
	</a>
	{% if request.user == hotel.user %}
	<a href="{% url 'hotels:edit_room' hotel.id room.id %}">
		<button type="button" class="btn btn-default">
    		<span class="glyphicon glyphicon-pencil"></span> Edit Room
		</button>
	</a>
	<a href="{% url 'hotels:delete_room' hotel.id room.id %}">
		<button type="button" class="btn btn-default">
    		<span class="glyphicon glyphicon-remove"></span> Delete Room
		</button>
	</a>
	{% endif %}
	
</p>
</div>
{% endblock %}
{% endblock %}
{% block body %}
{% endblock %}
